@import "mixins";

.card {
  cursor: pointer;

  &__image-container {
    height: 250px;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__text-container {
    margin-top: 10px;
  }

  &__title {
    @include show-lines(2);
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__description {
    @include show-lines(3);
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .card__image-container {
    height: 350px;
  }
}
