.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

.large-item {
  grid-area: large;
}

.top-item {
  grid-area: top;
}

.bottom-item {
  grid-area: bottom;
}

.regular-item {
  grid-area: regular;
}

@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 30px 20px;
  }
}
