@import "mixins";

.card {
  position: relative;
  cursor: pointer;

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .title {
    @include show-lines(2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px 15px;
    background: #00000080;
  }
}

.large {
  grid-area: large;
  height: 500px;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.top,
.bottom {
  height: 240px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 2rem;
  }

  .top,
  .bottom {
    height: 500px;
  }
}
